doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sergio Garage
  body
    h1 Welcome to Sergio Garage Shop Website
    p Providing to you the best services